

@charset "utf-8";
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {margin: 0; padding: 0; }
img { border: 0 none; vertical-align: top; }
ul,li,dl,dd,dt { list-style-type: none; }
i,em,cite { font-style: normal; }
body {  -webkit-text-size-adjust:none;  font-family:"微软雅黑";}
a{ text-decoration: none; }
.clear,.cle {clear:both;}
a,area { blr:expression(this.onFocus=this.blur()) }   
a:focus { outline: none; }    




.t_search{position:relative; width: 398px;height: 34px;background:url(https://1.rc.xiniu.com/rc/Heads/26562/Images/ihpsp1_t_search_lbg.png?d=20180815151147037) left top no-repeat;float: right;
    margin-top: 35px;border: 2px solid #c4c4c4;border-radius: 4px;}
.t_search_text{background-color: transparent;color:#999;border: 0;height: 27px;width: 325px;outline: none;text-indent: 5px;}
#img_ShoveWebControl_Search12{position:absolute;top:-1px;
     height: 36px;
     right: 0;}


.xn_h_10_wrap{width: 400px;position: absolute;top: 10px;right: 0;}
.xn_h_10_mswenzi{float:left;width:60px;height: 20px;line-height: 20px;font-size: 12px;color: #333;}
.xn_h_10_wbox{float:left;width:340px;height:20px;overflow: hidden;}
.xn_h_10_key{float:left;width:auto;height:20px;margin-right: 10px;text-align:center;line-height:20px;}
.xn_h_10_key a{font-size:12px;color:#666;}


.t_tel{ position:absolute;right: 0;top: 66px; text-align:right; width:450px;}
 .t_tel1{ width:100px; float:left; margin-top:10px;}
 .t_tel1 .t_tel_ts span{ width:100%; font-weight:bold; text-align:right; font-size:12px; height:16px; display:block; color:#282828;}
  .t_tel1 .t_tel_ts2 span{ text-transform:uppercase; width:100%;  font-weight:bold;text-align:right;font-size:12px;  height:16px;display:block; color:#a4a4a4;}
.t_tel_ts{font-size:13px; color: #999;}
.t_tel_nb{font-size:48px; float:right; font-weight:bold; color: #351802; padding-left:5px;}


.t_logo{ position:absolute; top:0px; left:0px;}
.t_logo img{ width:150px; height:130px; border:0px;}


#ea_n{position: relative;  background:url(https://1.rc.xiniu.com/rc/Heads/28342/images/xn_n_14_wrap.jpg?d=20180719121423238) repeat-x;height:52px; width:100%; text-align:center;}
.xn_n_14_wrap{position: relative; margin:0 auto;height:52px; width:1200px; text-align:center;}
.xn_n_14_wrap_main{ width:1200px; float:right;   height:52px; background: url(https://1.rc.xiniu.com/rc/Heads/28342/Images/inpsp1_nav_mainbg.png?d=20180719121423238) right top no-repeat;}
.xn_n_14_wrap_menu1 {float:left; width:130px; height:52px; font-size:16px;}
.xn_n_14_wrap_menu1 a{color:#282828; line-height:52px; text-decoration:none; width:100%; display:block;}
.xn_n_14_wrap_menu1_2 {float:left;display:block; background:#326cb6;  width:130px; height:52px; font-size:16px;}
.xn_n_14_wrap_menu1_2>a{display: block;color:#282828; color:#fff; line-height:52px; text-decoration:none;}
.xn_n_14_wrap_menu1_cur {float:left; background:#326cb6; width:130px; height:52px; font-size:16px;}
.xn_n_14_wrap_menu1_cur>a{color:#fff; line-height:52px; text-decoration:none;}
.xn_n_14_wrap_menu2 a{color:#282828;font-weight:normal;display:block; width:130px; height:40px;    font-size: 14px;}
.xn_n_14_wrap_menu2:hover a {color:#fff; text-decoration:underline;display:block; width:130px; height:40px;}
.xn_n_14_wrap_main ul li ul{width:130px; border-left:1px solid #326cb6;border-right:1px solid #326cb6;border-bottom:1px solid #326cb6; background:#fff; filter:Alpha(opacity=80);}
.xn_n_14_wrap_main ul li ul li{line-height:40px !important; }
.xn_n_14_wrap_main ul li ul li.xn_n_14_wrap_menu2_2{background:#326cb6 !important; }
.xn_n_14_wrap_main ul li ul li.xn_n_14_wrap_menu2_2 a{ background:#326cb6 !important;color:#fff;}
.xn_n_14_wrap_main ul li ul li ul{ display:none !important; float:left; margin-left:128px;}
#type1Li_n28>a{background: url(https://0.rc.xiniu.com/g2/M00/C1/11/CgAGe1t1NDOAXRAEAAAKoaGCnX4362.png)no-repeat center -2px;transition: all 0.5s;}
#type1Li_n28>a:hover{background: url(https://0.rc.xiniu.com/g2/M00/C1/11/CgAGe1t1NGSAVV-ZAAAKc5q9fUw922.png)no-repeat center -2px;}


.top{ width: 100%; z-index:99; position:relative;  }
.t_t{position:relative; z-index:100; width:1200px; margin:0 auto; height:133px;}


.t_name{ position:absolute; top:0; left:186px;top:50px; }
.t_name1{  font-size:30px;  font-weight:Bold;color:#282828; line-height:40px;  }
.t_name3{  font-size:12px;text-transform:uppercase; color:#626262; line-height:20px; }


.xn_ba_js_1_element img{height:520px;width: 100%;}

.xn_ba_js_1_banner img{height:520px;width: 100%;}


.xn_ba_js_1_banner{width:100%;height:520px;visibility:hidden;overflow:hidden;position:relative;}
.xn_ba_js_1_bigImg img {width:1920px;height:520px;border:0}
.xn_ba_js_1_element{position: absolute;}

.xn_ba_js_1_btn{top:475px;cursor:pointer;position:relative;padding:0;margin:0 auto;    width: 150px!important;}
.xn_ba_js_1_btn li{float:left;list-style:none;padding:0;margin:0;width:15px;height:15px;margin-left:10px;}
.xn_ba_js_1_element_btn{background-image:url(https://1.rc.xiniu.com/rc/Banners/28344/images/xn_ba_js_1_rowBtn.png?d=20180726170358540);}
.xn_ba_js_1_element_btn:hover,.xn_ba_js_1_element_btn_on{background-image:url(https://1.rc.xiniu.com/rc/Banners/28344/images/xn_ba_js_1_rowBtn_on.png?d=20180726170358540);}

.xn_ba_js_1_zt{white-space: nowrap;color:#FFFFFF;text-align:left;position:absolute;font-family:微软雅黑;}
.xn_ba_js_1_A0{left:480px;top:100px;font-size:40px;color:#e21b14;font-weight:bold;}
.xn_ba_js_1_A1{left:480px;top:160px;font-size:14px;color:#d30a01;}
.xn_ba_js_1_A2{left:480px;top:180px;font-size:14px;color:#d30a01;}
.xn_ba_js_1_B0{left:1020px;top:100px;font-size:40px;color:#e21b14;font-weight:bold;}
.xn_ba_js_1_B1{left:1020px;top:155px;font-size:18px;color:#d30a01;}
.xn_ba_js_1_C0{left:1070px;top:100px;font-size:36px;color:#e21b14;font-weight:bold}
.xn_ba_js_1_C1{left:1070px;top:155px;font-size:14px;color:#d30a01;}



.xn_c_index_42_wrap{width: 1200px;height: 600px;margin: 0 auto;}
.xn_c_index_42_topbox{text-align: center;height: 86px;padding-top: 60px;text-align: center;overflow: hidden;background: url(https://0.rc.xiniu.com/g2/M00/C1/13/CgAGe1t1N4mAdaQGAAAD8LzcOYM699.png) no-repeat bottom center;}
.xn_c_index_42_prd_t1{display: block;font-size: 30px;color: #0e6eb8;height: 40px;line-height: 40px;}
.xn_c_index_42_prd_t2{display: block;height: 20px;line-height: 20px;background: url(https://0.rc.xiniu.com/g2/M00/C1/13/CgAGe1t1N3SAc-xeAAAGrnK0VVM053.png) no-repeat center;text-indent: -999em;}
.xn_c_index_42_prd_t3{display: none;}
.xn_c_index_42_nrbox{width: 1250px;height: 290px;margin:20px auto 49px auto;}
.xn_c_index_42_nrsmall{width: 225px;height: 290px;float: left;margin-right: 19px;overflow: hidden;border-radius: 7px;transition: all 0.5s;}
.xn_c_index_42_lftbox{width: 104px;height: 104px;margin:38px auto 0 auto;border:5px solid #fff;border-radius: 25%;overflow: hidden;transition: all 0.5s;}
.xn_c_index_42_lftbox a{display: block;width: 104px;height: 104px;transition: all 0.5s;background-size: 120% !important;}

.xn_c_index_42_nrsmall:nth-child(1) .xn_c_index_42_lftbox a{background: url(https://0.rc.xiniu.com/g2/M00/C1/21/CgAGe1t1T76ALu9HAAASyowNRPg421.png) no-repeat center;}
.xn_c_index_42_nrsmall:nth-child(1):hover .xn_c_index_42_lftbox a{background: url(https://0.rc.xiniu.com/g2/M00/C1/21/CgAGe1t1T7iARUrlAAAS4cffU1M116.png) no-repeat center;}
.xn_c_index_42_nrsmall:nth-child(2) .xn_c_index_42_lftbox a{background: url(https://0.rc.xiniu.com/g2/M00/C1/20/CgAGe1t1Tw2ANabdAAANJqjoAKE741.png) no-repeat center;}
.xn_c_index_42_nrsmall:nth-child(2):hover .xn_c_index_42_lftbox a{background: url(https://0.rc.xiniu.com/g2/M00/C1/20/CgAGe1t1TxKAXsRmAAANI0KeJEE330.png) no-repeat center;}
.xn_c_index_42_nrsmall:nth-child(3) .xn_c_index_42_lftbox a{background: url(https://0.rc.xiniu.com/g2/M00/C1/20/CgAGe1t1TuKAV8JpAAAV5mrhlp0521.png) no-repeat center;}
.xn_c_index_42_nrsmall:nth-child(3):hover .xn_c_index_42_lftbox a{background: url(https://0.rc.xiniu.com/g2/M00/C1/20/CgAGe1t1TuiASzrnAAAUw-Fz4qc626.png) no-repeat center;}
.xn_c_index_42_nrsmall:nth-child(4) .xn_c_index_42_lftbox a{background: url(https://0.rc.xiniu.com/g2/M00/C1/20/CgAGe1t1TraAd0tXAAASIUnfRNo843.png) no-repeat center;}
.xn_c_index_42_nrsmall:nth-child(4):hover .xn_c_index_42_lftbox a{background: url(https://0.rc.xiniu.com/g2/M00/C1/20/CgAGe1t1Tr6AB9VfAAAPZJRZuMg884.png) no-repeat center;}
.xn_c_index_42_nrsmall:nth-child(5) .xn_c_index_42_lftbox a{background: url(https://0.rc.xiniu.com/g2/M00/C1/20/CgAGe1t1ToCAQZmwAAAX1g4EBug760.png) no-repeat center;}
.xn_c_index_42_nrsmall:nth-child(5):hover .xn_c_index_42_lftbox a{background: url(https://0.rc.xiniu.com/g2/M00/C1/20/CgAGe1t1ToSAUKdOAAAX2JzWD6s436.png) no-repeat center;}

.xn_c_index_42_time{display: none;}
.xn_c_index_42_name{width: 183px;height: 47px;line-height: 47px;text-align: center;font-size: 20px;color: #4c4c4c;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;margin:0 auto;transition: all 0.5s;}
.xn_c_index_42_name a{color: #4c4c4c;transition: all 0.5s;}
.xn_c_index_42_coent{width: 183px;height: 45px;line-height: 22px;font-size: 14px;color: #999999;margin:5px auto 0 auto;overflow: hidden;}
.xn_c_index_42_xxmore{width: 70px;height: 28px;line-height: 28px;border-radius: 4px;background: #0e6eb8;text-align: center;font-size: 14px;margin:10px auto 0 auto;display: none;}
.xn_c_index_42_xxmore a{color: #fff;text-transform: uppercase;display: block;}
.xn_c_index_42_nrsmall:hover{background: #fff;box-shadow: 0 0 20px 2px #F2F3F3;}
.xn_c_index_42_nrsmall:hover .xn_c_index_42_lftbox{margin:16px auto 0 auto;border:5px solid #fff;}
.xn_c_index_42_nrsmall:hover .xn_c_index_42_name{color: #808080;}
.xn_c_index_42_nrsmall:hover .xn_c_index_42_name a{color: #808080;}
.xn_c_index_42_nrsmall:hover .xn_c_index_42_xxmore{display: block;}
.xn_c_index_42_prdmore{width: 262px;height: 48px;line-height: 48px;border-radius: 8px;background: #0e6eb8;text-align: center;font-size: 20px;margin:0px auto 0 auto;}
.xn_c_index_42_prdmore a{color: #fff;display: block;text-transform: uppercase;}


.bk8_xn_c_index_131_wrap{width: 1192px; height:260px;position: relative;margin: auto; padding-top:1px;margin-bottom: 30px}
.bk8_xn_c_index_131_head{height: 100px; position:relative; overflow:hidden; margin-top:15px;}
.xn_c_index_131_wrap_bigbox{width: 100%;background:#f0f0f0;}
.bk8_xn_c_index_131_main{overflow: hidden; margin-top:12px; width:1060px; margin:auto;}
.bk8_xn_c_index_131_eWrap{width:100%; height:25px; line-height:25px; font-size:26px; font-weight:bold; color:#0e6eb8; text-align:center; display:block; position:absolute; left:0px;top:8px;}
.bk8_xn_c_index_131_dashw{ display:none;}
.bk8_xn_c_index_131_cWrap{width:100%; height:25px; line-height:25px; font-size:16px; text-transform:uppercase; color:#666666; text-align:center; display:block;position:absolute; left:0px;  bottom:25px;}
.bk8_xn_c_index_131_more{ display:none;}
.bk8_xn_c_index_131_wbox{overflow: hidden; height:118px;position: relative;}
.bk8_xn_c_index_131_list{float: left; width:140px; overflow:hidden;  height:118px; background:#fff; margin-right:12px;}
.bk8_xn_c_index_131_title{ display:none;}
.bk8_xn_c_index_131_img{height: 118px;max-width: 140px; display:block;}
.bk8_xn_c_index_131_img img{width: 100%;height: 100%;}
.bk8_xn_c_index_131_content{display: none;}
.bk8_xn_c_index_131_left{position: absolute;left:0px;top:153px;line-height:35px;width: 25px; height:52px;text-align: center; cursor: pointer;background:url(https://1.rc.xiniu.com/rc/Contents/32619/images/prev.png?d=20180807182125370?d=20170811144321526) center top no-repeat;}
.bk8_xn_c_index_131_right{position: absolute;right:2px; top: 153px;line-height:35px;width: 36px;height:58px;text-align: center;cursor: pointer;background:url(https://1.rc.xiniu.com/rc/Contents/32619/images/next.png?d=20180807182125370?d=20170811144321526) center top no-repeat;}


.bk6_xn_c_index_45_wrap{width:100%;margin:0 auto; height:585px; background:url(https://0.rc.xiniu.com/g2/M00/B2/6E/CgAGe1tpZD-AOAzDAATE2yQWDys221.jpg) center top no-repeat;}
.bk6_xn_c_index_45_topbox{width:1200px; text-align:center; margin:0 auto; overflow:hidden;}
.bk6_xn_c_index_45_topbox>span{display:block;}
.bk6_xn_c_index_45_abt_t1{font-size:30px;  color:#333333; line-height:40px; margin-top:80px;}
.bk6_xn_c_index_45_abt_t2{font-size:14px; color:#aaaaaa; line-height:20px;}
.bk6_xn_c_index_45_abt_t3{display:none  !important;  }
.xn_c_index_201_onLine{display:none !important;}
.bk6_xn_c_index_45_nrbox{ margin-top:65px;}
.bk6_xn_c_index_45_jieshaobox{ width:960px; margin:0 auto; line-height:26px; font-size:14px; color:#606060; }
.bk6_xn_c_index_45_more{ width:130px; height:30px; margin:70px auto 0; line-height:30px; text-align:center; border:1px solid #ffffff; border-radius:16px;}
.bk6_xn_c_index_45_more a{ color:#ffffff; font-size:14px; text-align:center;  padding-right:15px;background: url(https://1.rc.xiniu.com/rc/Contents/45528/images/xn_c_index_400_n2.png?d=20180806210714969) no-repeat right center;}


.xn_c_index_44_wrap{width:1200px;margin:45px auto;}
.xn_c_index_44_wbox{width:1200px;}
.xn_c_index_44_topbox{width:1200px; text-align:center;}
.xn_c_index_44_prd_t3{ display:block;    display: none;}
.xn_c_index_44_prd_t1{ height:50px; line-height:50px; color:#282828; font-weight:bold; font-size:30px;}
.xn_c_index_44_prd_t2{ height:50px; line-height:50px; color:#326cb6; font-weight:bold; font-size:30px;}
.xn_c_index_44_nrwbox{width:1200px;margin-top:40px;}
.xn_c_index_44_nrsmbox{float:left;width:282px; transition:all ease 0.5s; position:relative; height:390px; margin:0 4px;  }
.xn_c_index_44_nrsmbox:hover{background:#326cb6;}
.xn_c_index_44_neibiebox{width:200px; }
.xn_c_index_44_nbpic img{width:250px;height:155px;}
.xn_c_index_44_leirongwbox{width:180px;padding:0px 10px;  display:none;}
.xn_c_index_44_lrlft img{width:180px;height:120px;}
.xn_c_index_44_cont{height:60px;line-height:20px;overflow:hidden;}
.xn_c_index_44_neibiebox{ width:200px; margin:0 auto;  }
.xn_c_index_44_con{ color:#626262;margin-top:15px; font-size:14px; line-height:25px; height:60px; display:block; overflow:hidden; }
.xn_c_index_44_nbname{transition:all ease 0.5s; font-size:18px; font-weight:bold; text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow:hidden;
-moz-binding:url('ellipsis.xml#ellipsis'); padding-top:50px;  background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/xn_c_index_44_nbname.jpg?d=20180806210824176) bottom center no-repeat; font-size:18px; height:40px; line-height:40px;  }
.xn_c_index_44_nbname a{ color:#282828;}
.xn_c_index_44_nbname a:hover{ text-decoration:underline;}
.xn_c_index_44_EnglishName{ transition:all ease 0.5s;text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow:hidden;
-moz-binding:url('ellipsis.xml#ellipsis'); font-size:18px;text-transform:uppercase;  height:40px; line-height:40px;} 
.xn_c_index_44_nrsmbox:hover .xn_c_index_44_nbname{ background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/xn_c_index_44_nbname2.jpg?d=20180806210824176) bottom center no-repeat;}
.xn_c_index_44_nrsmbox:hover .xn_c_index_44_nbname a{ color:#fff; }
.xn_c_index_44_nbpic{  transition:all ease 0.5s;position:absolute; bottom:25px; right:16px; }
.xn_c_index_44_nrsmbox:hover .xn_c_index_44_nbpic{ display:block !important;}
.xn_c_index_44_nrsmbox:hover .xn_c_index_44_con{ color:#fff;}
.xn_c_index_44_nrsmbox:hover .xn_c_index_44_EnglishName{ color:#fff;}


.xn_c_index_250_box{width: 100%;  margin: 0px auto;}
.xn_c_index_250_top{width:100%; color:#fff;  background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/xn_c_index_250_top.jpg?d=20180806210824176) no-repeat center; height: 300px; text-align: center;}
.xn_c_index_250_top h1{font-size: 28px; font-weight: bold;}
.xn_c_index_250_top span{ display:block;}
.xn_c_index_250_prd_top1{ line-height:50px; font-size:24px;  }
.xn_c_index_250_prd_top2{ font-size:14px;line-height: 30px; }
.xn_c_index_250_prd_top3{ font-size:12px;line-height: 20px; width:650px; margin:0 auto; }
.xn_c_index_250_timg{ padding-top:100px; }
.xn_c_index_250_bott{display:none;width: 1200px; height:715px;z-index:99; margin:0 auto;  position:relative; }
.xn_c_index_250_bott_img{ position:absolute; top:-30px; left:-20px; }
.xn_c_index_250_ul{width: 840px; margin-top:80px; float:right; }
.xn_c_index_250_li{width: 200px; margin-top:10px; height: 260px; margin-left:80px;  float: left; }
.xn_c_index_250_liTop{width: 200px; height: 260px; overflow: hidden;}
.xn_c_index_250_liCont{width: 200px; text-align:center; font-size:14px; color:#a4a4a4; height: 25px;line-height: 25px; overflow: hidden;    display: none;text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow:hidden;
-moz-binding:url('ellipsis.xml#ellipsis');   position: absolute; transition:all 0.5s;}
.xn_c_index_250_img{width: 200px; height: 200px;  }
.xn_c_index_250_img img{width: 100%;height:100%;  }
.xn_c_index_250_title{ text-align:center; width: 200px; height: 20px;line-height: 20px; margin-top:10px;text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow:hidden;
-moz-binding:url('ellipsis.xml#ellipsis'); overflow: hidden; font-size: 16px;}
.xn_c_index_250_title a{color:#282828; font-size:16px; text-align:Center;}
.xn_c_index_250_title a:hover{color:#326cb6;  text-decoration:underline; font-weight:bold;}
.xn_c_index_250_time{width: 215px; display:none; height: 26px; overflow: hidden; float: left; line-height: 26px; font-size: 14px; color: rgb(109,109,109);}
.xn_c_index_250_more{ display:none;width: 215px; height: 26px; overflow: hidden; float: left; line-height: 26px; font-size: 14px; color: rgb(189,66,58);}
.xn_c_index_250_more a{color: rgb(189,66,58);}


.xn_c_index_138_wrap{width:100%;margin:0px auto; height:850px; background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/xn_c_index_138_wrap.jpg?d=20180806210824176) repeat-x top;  }
.xn_c_index_138_wbox{width:1200px; margin:0 auto; text-align:Center; position:relative; }
.xn_c_index_138_contType{display:none;position:absolute; left:0px; margin-top:50px;}
.xn_c_index_138_typeName{width:100px;height:40px;line-height:40px;color:#fff;display:inline-block;margin: 20px 10px 0 10px; text-align:Center; background:#282828; position:relative;top:0px;text-align:center;cursor:pointer;}
.xn_c_index_138_typeList{ display:inline-block;  }
.xn_c_index_138_typeName_cur{background:#0e6eb8;color:#fff;}
.xn_c_index_138_contType_cur{display:block;}
.xn_c_index_138_img,.xn_c_index_138_Count,.xn_c_index_138_newsMore{display:none;}
.xn_c_index_138_context{height:80px;line-height:20px;overflow:hidden;}
.xn_c_index_138_hotUl{overflow: hidden;}
.xn_c_index_138_list{width:540px;height:60px;float:left;line-height:60px; text-align:left; overflow:hidden; }
.xn_c_index_138_list:nth-child(2n){ margin-left:120px;}
.xn_c_index_138_Title { background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/xn_c_index_138_Title.jpg?d=20180806210824176) center left 10px no-repeat; display:inline-block;  font-size:14px; width:400px; float:left;white-space: nowrap; text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow:hidden;
-moz-binding:url('ellipsis.xml#ellipsis');
display:inline-block; }
.xn_c_index_138_list .xn_c_index_138_context{ display:none;}
.xn_c_index_138_hotMore{ display:none;}
.xn_c_index_138_Title a{ color:#282828; padding-left:25px;}
.xn_c_index_138_Title a:hover{ text-decoration:underline; color:#0e6eb8;}
.xn_c_index_138_indDate{ display:inline-block; color:#a4a4a4;  width:110px; float:right;}
.xn_c_index_138_head{ width:1200px; height:240px;margin:0 auto; text-align:center;}
.xn_c_index_138_head span{ display:block;}
.xn_c_index_138_timg{ padding-top:80px; }
.xn_c_index_138_eWrap{color:#326cb6; line-height:50px; font-size:24px;  }
.xn_c_index_138_dashw{ font-size:14px;line-height: 30px; }
.xn_c_index_138_cWrap{ font-size:12px;line-height: 20px; color:#a4a4a4; width:450px; margin:0 auto; }
.xn_c_index_138_headUl{ height:290px;  border-bottom:1px solid #f6f6f6; }
.xn_c_index_138_headLi{}
.xn_c_index_138_headTitle{ font-size:18px;}
.xn_c_index_138_headTitle a{color:#282828; }
.xn_c_index_138_headImg{ width:290px; height:180px; margin-top:60px; float:right;}
.xn_c_index_138_headImg img{ width:100%; height:100%;}
 .xn_c_index_138_headMore{ display:none;}
.xn_c_index_138_headCount{ display:inline-block;  height:50px; line-height:50px; font-size:12px; color:#a4a4a4;}
.xn_c_index_138_heada{ display:inline-block; font-size:12px; color:#a4a4a4; height:50px; line-height:50px; margin-left:20px;}
.xn_c_index_138_headDate{ margin-top:90px; width:156px; height:120px; text-align:Center; float:left;  border-right:4px solid #e4e4e4;}
.xn_c_index_138_hDay{ display:block; font-size:60px; color:#326cb6; height:90px; line-height:90px;  } 
.xn_c_index_138_hLine{font-size:16px; color:#326cb6; }
.xn_c_index_138_hYear{font-size:16px; color:#326cb6; }
.xn_c_index_138_hMonth{font-size:16px; color:#326cb6; }
.xn_c_index_138_hcontext{text-align:left; font-size:14px; color:#898989;  height:75px;  line-height:25px;overflow:hidden;}
.xn_c_index_138_headLicon{ margin-top:80px; margin-left:60px; width:630px; float:left; text-align:left; }
.xn_c_index_138_hMore{}
.xn_c_index_138_hotUl { border-bottom:1px solid #f6f6f6; margin-top:30px; padding-bottom:30px;}


.xn_c_index_149_wrap{width:100%;margin:0 auto;}
.xn_c_index_149_topbox{  background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/xn_c_index_149_xhbox.jpg?d=20180806210824176) center center; height:500px;}
.xn_c_index_149_topbox span{ display:block; text-align:Center;  color:#fff;}
.xn_c_index_149_cnName{ font-size:24px;line-height: 50px; font-weight:bold;}
.xn_c_index_149_onLine{ font-size:14px;line-height: 30px; }
.xn_c_index_149_enName{ font-size:12px;line-height: 20px; }
.xn_c_index_149_img{ padding-top:250px;}
.xn_c_index_149_xhbox{ height:290px; }
.xn_c_index_149_lftbox{float:left;width:50%; background:#eee; }
.xn_c_index_149_lftbox img{width:600px; height:290px; float:right;}
.xn_c_index_149_ritbox{float:right;width:50%;}
.xn_c_index_149_bk{float:left; width:600px; height:290px; text-align:Center; }
.xn_c_index_149_xhbox:nth-child(2n) .xn_c_index_149_lftbox{ float:right;}
.xn_c_index_149_xhbox:nth-child(2n) .xn_c_index_149_lftbox img{ float:left;}
.xn_c_index_149_xhbox:nth-child(2n) .xn_c_index_149_ritbox{float:left;width:50%;}
.xn_c_index_149_xhbox:nth-child(2n) .xn_c_index_149_bk{float:right; }
.xn_c_index_149_coent{width:400px;height:66px;line-height:25px; height:50px;font-size:14px;color:#898989; margin:0 auto;overflow:hidden;}
.xn_c_index_149_rimg{ width:40px; height:40px; margin:60px auto 10px;}
.xn_c_index_149_rimg img{width:40px; height:40px;}
.xn_c_index_149_gdmore{ display:none;}
.xn_c_index_149_time{ display:none;}
.xn_c_index_149_name{ font-size:18px; }
.xn_c_index_149_name a{ color:#282828; line-height:50px; height:50px; }
.xn_c_index_149_name a:hover{ color:#326cb6; text-decoration:underline;}


.xn_c_index_162_wrap {width:1200px; margin:120px auto;  position:relative;}
.xn_c_index_162_innwrap { width:1000px;  position:relative; overflow:hidden; margin:0 auto;}
.xn_c_index_162_innwrap ul { position:relative;}
.xn_c_index_162_innwrap ul li { width:1000px; float:left;}
.xn_c_index_162_lftbox{ width:1000px; text-align:Center; margin:30px auto; background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/xn_c_index_162_lftbox.png?d=20180806210824176) no-repeat center center; }
.xn_c_index_162_lftbox img{width:150px;height:130px; }
.xn_c_index_162_ritbox{ margin:0 auto;width:800px; }
.xn_c_index_162_coent{width:800px; font-size:14px; color:#626262;  line-height:30px; height:60px; text-align:Center; overflow:hidden;}
.xn_c_index_162_title{ text-align:Center; font-size:16px; height:35px; font-weight:bold; line-height:35px; margin-top:10px;  color:#326cb6; }
.xn_c_index_162_title a{color:inherit;}
.xn_c_index_162_CopyFrom{text-align:Center; font-size:12px; color:#898989; height:20px; line-height:20px; } 
.xn_c_index_162_but { width: 47px; height:47px; position:absolute; top:230px; cursor:pointer;}
#xn_c_index_162_butleft { left:0; background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/xn_c_index_162_butleft.png?d=20180806210824176) no-repeat  center center;  }
#xn_c_index_162_butright { right:0; background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/xn_c_index_162_butright.png?d=20180806210824176) no-repeat  center center;}
.xn_c_index_162_page { height:30px; padding:5px 0 0 0; display:none; line-height:30px; text-align:center;}
.xn_c_index_162_tmore{  display:none;}
.xn_c_index_162_topbox span{ display:block; text-align:Center;}
.xn_c_index_162_cnName{ color:#326cb6; line-height:50px; font-size:24px; }
.xn_c_index_162_onLine img{  width:510px; height:35px;}
.xn_c_index_162_enName{ color:#282828; line-height:20px; font-size:14px;}


.index_cnt_m_foot2{width:1160px; height:410px; background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/xn_c_index_261_wrap.png?d=20180806210824176) no-repeat center; margin:80PX auto 0;}
.xn_c_300_wrap{width:1040px;height:auto;overflow:hidden;margin:0 auto;}
#EIMS_C_40032_Main{width:100%;height:auto;overflow:hidden;font-size:14px;color:#222; line-height:50px;  position:relative;}
#EIMS_C_40032_Main>div label{float:left;width:95px;text-align: center; font-size:14px; color:#898989;}
.EIMS_C_40032_radio label{width:45px !important;height:30px !important;line-height:30px !important;float:left;margin:0 6px 0 0;}
.EIMS_C_40032_radio label:first-child{width:30% !important;}
.EIMS_C_40032_radio input{width:15px !important;height:15px !important;margin:6px 3px 0 0;}
.EIMS_C_40032_checkbox label{width:20% !important;float:left;text-align:left !important;}
.EIMS_C_40032_checkbox input{width:15px !important;height:15px !important;margin:6px 3px 0 0;}
.EIMS_C_40032_checkbox label:first-child{width:30% !important;text-align:right !important;}
#EIMS_C_40032_mobile{width:30% !important;}
#EIMS_C_40032_getCode{width:30% !important;margin-left:2%;}
#EIMS_C_40032_CheckCodeInput{width:30% !important;}
#EIMS_C_40032_Submit{width:160px; font-size:18px; outline:none; height:50px; background:#fff; color:#326cb6;margin:20px auto; border:0px; border-radius:3px;display:block;float: none !important;}
#EIMS_C_40032_AuthorNamebox{ margin-top:80px;}
#EIMS_C_40032_Telephonebox{ margin-top:10PX;}
#EIMS_C_40032_Emailbox{ margin-top:10PX;}
.EIMS_C_40032_text{ width:510px; height:50px; line-height:50px; background:#fff; }
.EIMS_C_40032_textarea{ width:510px; height:170px; background:#fff;  position:absolute;  right:0px; top:80px;}
.EIMS_C_40032_text input{ width:410px; border:0px; outline:none;  height:50px; line-height:50px; font-size:14px;}
.EIMS_C_40032_textarea textarea { outline:none; width:410px; height:170px;  border:0px;line-height:50px; font-size:14px; color:#898989;}


.index_cnt{width:100%; background:url(https://1.rc.xiniu.com/rc/Contents/28348/Images/incsp1_index_cbg.png?d=20180806210824176) repeat-x;  }
.index_cnt_m{width:100%; position:relative; margin:0 auto; }


.index_cnt_head{ background:#f2f2f2;border-bottom:1px solid #ddd; height:179px;    display: none;}
.index_cnt_head_bk{ width:1200px; margin:0 auto; }
.index_cnt_head_bk dl{ float:left;  width:400px; }
.index_cnt_head_bk dl dt{ width:98px; height:98px; float:left;  margin:40px 20px 0 40px; }
.index_cnt_head_bk dl dt img{ width:100%; height:100%;}
.index_cnt_head_bk dl dd{ margin-top:40px;}
.index_cnt_head_bk dl dd h2{ color:#626262; height:20px; line-height:20px;  font-size:14px; font-weight:normal;}
.index_cnt_head_bk dl dd img{ width:182px; height:42px; margin-top:5px; }
.index_cnt_head_bk dl dd p{ font-size:12px; margin-top:5px; color:#a4a4a4;height:30px; line-height:30px;  }


.index_cnt_cont1{ height:280px; width:100%; background:#f2f2f2; border-bottom:1px solid #eee;}
.index_cnt_cont1_bk{ width:1200px; margin:0 auto;  height:200px;  background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/index_cnt_cont1_bkli.png?d=20180806210824176) no-repeat right center; }
.index_cnt_cont1_bk ul li{ float:left; width:240px; height:200px; margin-top:40px; background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/index_cnt_cont1_bkli.png?d=20180806210824176) no-repeat left center;   }
.index_cnt_cont1_bk ul li div{ font-size:14px;text-indent:10px; height:45px; line-height:45px; color:#ffffff; background:#4a86d3;}
.index_cnt_cont1_bk ul li:nth-child(2n) div{background:#326cb6;}
.index_cnt_cont1_bk ul li h2{ text-indent:15px;  height:70px; line-height:70px; padding-top:10px;  font-size:36px; color:#326cb6; text-transform:uppercase;  font-weight:normal;}
.index_cnt_cont1_bk ul li p{ margin-left:15px; margin-top:15px; line-height:15px; font-size:12px; color:#a4a4a4; }


.index_cnt_m1{ position:relative;  width:1200px; height:960px; margin:0 auto;}
.index_cnt_m1_head{ text-align:Center;}
.index_cnt_m1_head span{ display:block;}
.index_cnt_m1_eWrap{color:#326cb6; line-height:50px; font-size:24px;  }
.index_cnt_m1_dashw{ font-size:14px;line-height: 30px; }
.index_cnt_m1_cWrap{ font-size:12px;line-height: 20px; color:#a4a4a4; width:650px; margin:0 auto; }
.index_cnt_m1_timg{ padding-top:100px; }
.index_cnt_m1_con1{ text-align:Center; position:absolute; background:url(https://0.rc.xiniu.com/g2/M00/BD/BA/CgAGfFtpYEeAGQeDAAKND-ATgf4427.png) no-repeat  center center; margin-top:60px;left:50%;  margin-left:-332px; width:664px; height:533px; }
.index_cnt_m1_con1 h2{ color:#282828; font-size:18px; font-weight:bold; padding-top:220px; line-height:50px; height:50px;  } 
.index_cnt_m1_con1 p{ color:#326cb6; font-size:36px; height:60px; line-height:60px; font-weight:bold; } 
.index_cnt_m1_con1 a{ width:100px;  background:#326cb6;  border-radius:15px; font-size:14px; display:inline-block;  color:#fff; height:30px; line-height:30px; text-align:Center; margin:20px auto 0;}
.index_cnt_m1_con1 a:hover{ text-decoration:underline;}
.index_cnt_m1_con dl dt{ font-size:18px; font-weight:bold; height:50px; line-height:50px; color:#282828;}
.index_cnt_m1_con dl dd{ font-size:14px; color:#898989; line-height:25px;}
.index_cnt_m1_con dl.index_cnt_m1_dl1{ position:absolute; text-align:right; width:320px;top:355px;}
.index_cnt_m1_con dl.index_cnt_m1_dl2{ position:absolute; text-align:right; width:250px;top:560px;}
.index_cnt_m1_con dl.index_cnt_m1_dl3{ position:absolute; text-align:right; width:320px;top:760px;}
.index_cnt_m1_con dl.index_cnt_m1_dl4{ position:absolute;right:0px; width:320px;top:355px;}
.index_cnt_m1_con dl.index_cnt_m1_dl5{ position:absolute;right:0px;width:250px;top:560px;}
.index_cnt_m1_con dl.index_cnt_m1_dl6{ position:absolute;right:0px;width:320px;top:760px;}


.index_cnt_m_foot{background:url(https://1.rc.xiniu.com/rc/Contents/28348/images/index_cnt_m_foot1.jpg?d=20180806210824176) center no-repeat; width:100%; height:960px;    display: none; }
.index_cnt_m_foot1{ width:1200px; margin:0 auto; }
.index_cnt_m_foot11{ text-align:center;}
.index_cnt_m_foot11 img{ width:235px; height:35px; margin-top:120px;}
.index_cnt_m_foot11 h2{ font-size:24px; color:#fff;  font-weight:bold; height:75px; line-height:75px;}
.index_cnt_m_foot12{ height:115px; margin-top:15px;}
.index_cnt_m_foot12 ul{ height:115px; width:1200px; overflow:hidden;}
.index_cnt_m_foot12 ul li{  height:115px; border-right:1px solid #9ab5f6; text-align:Center; width:399px; float:left;}
.index_cnt_m_foot12 ul li img{ width:45px;  height:45px; margin-bottom:10px;}
.index_cnt_m_foot12 ul li p{ font-size:14px;  color:#fcfbfa; line-height:24px; }
.index_cnt_m_foot12 ul li.index_cnt_m_foot121{border-right:0px;}
 .index_cnt_m_foot12 ul li.index_cnt_m_foot121 p{ font-size:14px;  color:#fcfbfa; line-height:48px; }



.yqlj_zx{width: 1105px;height: auto;overflow: hidden;}
.yqlj_zx_ti{width: 105px;height: auto;font-size: 16px;color: #808080;float: left;}
.xn_f_21_wrap{width:1000px;height:auto;float: left;overflow: hidden;margin-top: 19px; }
.xn_f_21_xhbox{float:left;width:auto;height:42px;line-height: 42px; overflow:hidden;text-align:center;padding: 0 13px;background: url(https://1.rc.xiniu.com/rc/Bottoms/24509/images/xn_f_21_xhbox.png?d=20180814145733366) no-repeat left center;}
.xn_f_21_xhbox:first-child{background: none;}
.xn_f_21_xhbox a{color: #bababa;font-size: 14px;}
.xn_f_21_xhbox a:hover{color: #fff;}


.xn_f_5_wrap {width:100%;height: auto;overflow: hidden;}
.footfeed_company,.footfeed_add,.footfeed_tel,.footfeed_fax,.footfeed_post,.footfeed_fdtle{display: none;}
.EIMS_C_1_3_box{width: 370px;height: auto;overflow: hidden;}
.EIMS_C_1_3_DIV ul li{float:left;}
.EIMS_C_1_3_DIV ul li.EIMS_C_1_3_Name { width: 61px; float: left; text-align: right; color: #6e6e6e; margin-right: 11px; padding-top: 3px; }
.EIMS_C_1_3_DIV ul li.EIMS_C_1_3_Name1 { width: 61px; float: left; text-align: right; color: #6e6e6e; margin-right: 11px; }
.EIMS_C_1_3_DIV ul li.EIMS_C_1_3_bt { background: url(https://1.rc.xiniu.com/rc/Bottoms/18706/Images/zaixian-liuyan_03.png?d=20180814145733366?d=20160829104045079) 354px 2px no-repeat; }
.EIMS_C_1_3_DIV ul li #EIMS_C_1_3_Name, #EIMS_C_1_3_Company, #EIMS_C_1_3_Tel, #EIMS_C_1_3_Fax, #EIMS_C_1_3_Address, #EIMS_C_1_3_asdfasdfl, #EIMS_C_1_3_Mobile, #EIMS_C_1_3_Postcode, #EIMS_C_1_3_Email, #EIMS_C_1_3_MSN, #EIMS_C_1_3_Title {width: 292px; height: 24px; line-height: 24px; border:none; margin-bottom: 5px;  background: #326cb6; color: #fff; float: left;outline: none;text-indent: 5px;font-family: "微软雅黑"}
.EIMS_C_1_3_DIV ul li #EIMS_C_1_3_Content { width:292px; height: 85px; line-height: 24px; background: #326cb6; border: none; overflow:hidden;outline: none;text-indent: 5px;font-family: "微软雅黑"}
.EIMS_C_1_3_DIV ul li .bt { color: #fe0001; margin-left: 14px; vertical-align: middle; display: none; }
.EIMS_C_1_3_DIV ul li.footfeed_li_title{width: 74px; text-align: right; line-height: 24px;font-size: 14px;color: #999999;float: left;}
#EIMS_C_1_3_Submit { width: 88px; height: 28px; border: 0; cursor: pointer; background: #cb7f0a; overflow: hidden;font-size: 14px;color: #fff;font-family: "微软雅黑"}
#EIMS_C_1_3_Submit:hover{text-decoration: underline;}
#EIMS_C_1_3_Reset { width: 88px; height: 28px; border: 0; cursor: pointer;overflow: hidden;background: #414850;font-size: 14px;color: #fff;font-family: "微软雅黑"}
#EIMS_C_1_3_Reset:hover{text-decoration: underline;}
.xn_f_5_feedbox .online_but { margin:5px 0 0 74px;}
.inputk{color: #FFF;  font-size: 12px;}


.foot_c_one_center{float: left;width: 385px;height: 227px;padding-left: 54px;background: url(https://1.rc.xiniu.com/rc/Bottoms/24509/images/foot_li_img.png?d=20180814145733366) no-repeat left center;margin-right: 50px;}
.foot_tle_title{width: 100%;height: 40px;line-height: 40px;}
.foot_tle_title1{color: #326cb6; font-size: 20px;}
.foot_tle_title2{ color: #414850; font-size: 14px;font-family: "Arial";}
.foot_tel{width: 100%;height: auto;overflow: hidden;}
.foot_tel_f{width: 100%;height: auto;overflow: hidden;}
.foot_tel_f>div{padding-left: 27px;font-size: 14px;line-height: 28px;margin: 18px 0;color: #999999;}
.foot_add{background: url(https://1.rc.xiniu.com/rc/Bottoms/24509/images/foot_phone.png?d=20180814145733366) no-repeat left 8px;}
.foot_phone{background: url(https://1.rc.xiniu.com/rc/Bottoms/24509/images/foot_mail.png?d=20180814145733366) no-repeat left 9px;}
.foot_fax{background: url(https://1.rc.xiniu.com/rc/Bottoms/24509/images/foot_map.png?d=20180814145733366) no-repeat left 8px;}
.foot_zip{display: none;}
.foot_c_one_right{float: left;width: 122px;height: 227px;padding-left: 54px;background: url(https://1.rc.xiniu.com/rc/Bottoms/24509/images/foot_li_img.png?d=20180814145733366) no-repeat left center;}
.foot_c_one_right img{display: block;width: 122px;height: 122px;margin: 25px 0 10px 0;}
.foot_c_one_right>span{display: block;width: 100%;height: auto;line-height: 23px;font-size: 14px;color: #999999;text-align: center;}


.foot_nav2{width: 1200px;margin: 0 auto;text-align:left;overflow: hidden;padding-bottom: 15px;}
.foot_nav2_ul{ float:left; margin:0px; padding:0px;}
.foot_nav2 ul li{float:left;margin-left: 50px;}
.foot_nav2 ul li:first-child{margin-left:0px;}
.foot_nav2 ul li a{color: #666666;font-size: 14px;line-height: 32px;}
.foot_nav2 ul li ul li a{line-height:25px; font-weight: normal !important;}


.foot_c_two{}
.foot_c_two_w{width: 1105px;height: 40px;margin: 0 auto;line-height: 40px;}
.foot_copy>div{float: left;font-size: 12px;color: #999999;}
.foot_copy>div a{color: #999;}


.xn_f_1_warp {}


.xn_f_2_warp {float: right;margin-top: 14px;}


.foot{ width:100%; position:relative;min-width: 1105px;}
.foot_c{width:100%; position:relative; }
.foot_c_one{width: 100%;background: #ffffff;}
.foot_c_two{width: 100%;height: 40px;background: #19181d;}
.foot_c_top{width: 100%;height: auto;border-bottom: 1px dashed #464547;}
.foot_c_top_youqing{width: 1105px;height: auto;line-height: 78px;margin: 0 auto;}
.foot_c_one_w{width: 1105px;height: 227px;overflow: hidden;margin: 30px auto;}
.foot_c_one_left{width: 370px;height: 227px;float: left;margin-right: 61px;}


.b_feedback_name{width: 100%;height: 40px;line-height: 40px;}
.b_feedback_name1{color: #326cb6; font-size: 20px;}
.b_feedback_name2{ color: #414850; font-size: 14px;font-family: "Arial";}


.xn_f_5_wrap {width:100%;height: auto;overflow: hidden;}
.footfeed_company,.footfeed_add,.footfeed_tel,.footfeed_fax,.footfeed_post,.footfeed_fdtle{display: none;}
.EIMS_C_1_3_box{width: 370px;height: auto;overflow: hidden;}
.EIMS_C_1_3_DIV ul li{float:left;}
.EIMS_C_1_3_DIV ul li.EIMS_C_1_3_Name { width: 61px; float: left; text-align: right; color: #6e6e6e; margin-right: 11px; padding-top: 3px; }
.EIMS_C_1_3_DIV ul li.EIMS_C_1_3_Name1 { width: 61px; float: left; text-align: right; color: #6e6e6e; margin-right: 11px; }
.EIMS_C_1_3_DIV ul li.EIMS_C_1_3_bt { background: url(https://1.rc.xiniu.com/rc/Bottoms/18706/Images/zaixian-liuyan_03.png?d=20180814145733366?d=20160829104045079) 354px 2px no-repeat; }
.EIMS_C_1_3_DIV ul li #EIMS_C_1_3_Name, #EIMS_C_1_3_Company, #EIMS_C_1_3_Tel, #EIMS_C_1_3_Fax, #EIMS_C_1_3_Address, #EIMS_C_1_3_asdfasdfl, #EIMS_C_1_3_Mobile, #EIMS_C_1_3_Postcode, #EIMS_C_1_3_Email, #EIMS_C_1_3_MSN, #EIMS_C_1_3_Title {width: 292px; height: 24px; line-height: 24px; border:none; margin-bottom: 5px;  background: #326cb6; color: #fff; float: left;outline: none;text-indent: 5px;font-family: "微软雅黑"}
.EIMS_C_1_3_DIV ul li #EIMS_C_1_3_Content { width:292px; height: 85px; line-height: 24px; background: #326cb6; border: none; overflow:hidden;outline: none;text-indent: 5px;font-family: "微软雅黑"}
.EIMS_C_1_3_DIV ul li .bt { color: #fe0001; margin-left: 14px; vertical-align: middle; display: none; }
.EIMS_C_1_3_DIV ul li.footfeed_li_title{width: 74px; text-align: right; line-height: 24px;font-size: 14px;color: #999999;float: left;}
#EIMS_C_1_3_Submit { width: 88px; height: 28px; border: 0; cursor: pointer; background: #326cb6; overflow: hidden;font-size: 14px;color: #fff;font-family: "微软雅黑"}
#EIMS_C_1_3_Submit:hover{text-decoration: underline;}
#EIMS_C_1_3_Reset { width: 88px; height: 28px; border: 0; cursor: pointer;overflow: hidden;background: #414850;font-size: 14px;color: #fff;font-family: "微软雅黑"}
#EIMS_C_1_3_Reset:hover{text-decoration: underline;}
.xn_f_5_feedbox .online_but { margin:5px 0 0 74px;}
.inputk{color: #FFF;  font-size: 12px;}






.xn_m_6_head{width:82px;height:82px;background:url(https://1.rc.xiniu.com/rc/Marketings/28347/images/xn_m_6_head.png?d=20180719121424348) no-repeat center;color:#fff;border-bottom:1px solid #f0f0f0;}
.xn_m_6_wrap{position:fixed;height:auto;width: 82px;z-index: 10001;}
.xn_m_6_mbox img{width: 20px;clear:both;}
.xn_m_6_mbox ul li{ width: 82px; text-align:center; padding:10px 0;border-bottom:1px solid #f0f0f0; }
.xn_m_6_mbox ul li span{  line-height:20px;width:100%; color:#282828; text-align:center; display:block; font-size:12px;}
.xn_m_6_mbox ul li span:hover{ color:#ff0000;}
.xn_m_6_tel_box img{width: 20px}
.xn_m_6_head .close{cursor:pointer;text-align: left;padding-left:10px;}
.xn_m_6_mbox ul{ }
.xn_m_6_markrt_code img{width: 80px;}
.xn_m_6_small_but { width:20px; height:50px; background:#000; position:absolute; top:50%; margin-top:-25px; right:0px; cursor:pointer; color:#fff; font-size:12px; display:none; text-align:center; line-height:24px; }
.xn_m_6_foot{width: 100%;height: 40px;background:url(https://1.rc.xiniu.com/rc/Marketings/28347/images/xn_m_6_foot.png?d=20180719121424348) no-repeat center center;}
.xn_m_6_wrap img{width:30px;height:30px;}
.xn_m_6_orderId{display:none;}
#xn_m_6_orderBox_2{ display:none;}
#xn_m_6_orderBox_4{ display:none;}
#xn_m_6_orderBox_3{display:none;}
#xn_m_6_orderBox_8{ display:none;}
.xn_m_6_mbox h4{ display:none;}
.xn_m_6_mbox{ background: #ffffff; width:82px; border-left:1px solid #f1f1f1;border-right:1px solid #f1f1f1;}






