<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>车场设置</cite></a>
                <a><cite>出入类型设置</cite></a>
                <a><cite>增加通道</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form">
        <div class="layui-form-item">
            <label class="layui-form-label">通道名称</label>
            <div class="layui-input-block">
                <input type="text" name="channelName" placeholder="请输入通道名称" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通道IP</label>
            <div class="layui-input-block">
                <input type="text" name="ip" placeholder="请输入通道IP" autocomplete="off" class="layui-input" lay-verify="ip">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">辅助相机</label>
            <div class="layui-input-block">
                <input type="text" name="camera" placeholder="请输入辅助相机" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通道类型</label>
            <div class="layui-input-block">
                <select name="channelTypeId">
                    <!--<option value="0">公告</option>-->
                    <!--<option value="1">言情</option>-->
                    <!--<option value="2">都市</option>-->
                    <!--<option value="3">修仙</option>-->
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script>
    var type = '[[${type}]]';
    layui.use(['element', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#birthday',
            type: "datetime"
        });

        form.verify({
            ip: [
                /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
                ,'IP地址不符合规则'
            ]
        });

        $.ajax({
            url : "/type/all/channel",
            type : "GET",
            success : function (resp) {
                var data = resp.data;
                if (data != null) {
                    var str = '';
                    for (var i = 0; i < data.length; i++) {
                        str += '<option value="' + data[i].id + '">' + data[i].name + '</option>>';
                    }
                    $("select[name='channelTypeId']").append(str);
                }
                form.render('select');
            }
        });

        form.on('submit(add)', function (data) {
            $.ajax({
                url : "/type/save",
                type : "POST",
                data : data.field,
                success : function(resp){
                    if (resp.status == 200) {
                        layer.msg("添加成功！", {icon: 6, time: 1000, anim: 4}, function () {
                            window.parent.location.reload();
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    }
                    if (resp.status == 500) {
                        layer.msg(resp.msg, {icon: 2, time: 2000});
                    }
                },
                error : function(){
                    layer.msg("添加失败！请联系管理员", {icon: 2, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });
    })
</script>
</body>
</html>