<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>车辆管理</cite></a>
                <a><cite>车辆管理</cite></a>
                <a><cite>添加车辆管理</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">原名称</label>
            <div class="layui-input-block">
                <input type="text" name="oldName" readonly autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">原车位数</label>
            <div class="layui-input-block">
                <input type="text" name="oldParkNum" readonly autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输入停车场名称" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新车位数</label>
            <div class="layui-input-block">
                <input type="text" name="parkNum" placeholder="请输入车位数" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script>
    layui.use(['element', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        $("input[name='oldName']").val('[[${car_yard_name.name}]]');
        $("input[name='oldParkNum']").val('[[${car_yard_name.parkNum}]]');

        laydate.render({
            elem: '#birthday',
            type: "datetime"
        });

        form.on('submit(add)', function (data) {
            $.ajax({
                url:"/set/name/save",
                type:"POST",
                data:data.field,
                success:function(resp){
                    if (resp.status == 200) {
                        layer.msg("修改成功！", {icon: 6, time: 1000, anim: 4}, function () {
                            window.location.href = "javascript:location.replace(location.href);";
                        });
                    }
                    if (resp.status == 500) {
                        layer.msg(resp.msg, {icon: 2, time: 2000});
                    }

                },
                error:function(){
                    layer.msg("修改失败！请联系管理员", {icon: 2, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });
    })
</script>
</body>
</html>