<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
    <link rel="stylesheet" href="/lib/nprogress/nprogress.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>车辆设置</cite></a>
                <a><cite>车场信息设置</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form class="layui-form layui-col-md12 ok-form">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 140px;">停车场名称</label>
            <div class="layui-input-inline">
                <input type="text" name="parkingName" placeholder="请输入停车场名称" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 140px;">车位数</label>
            <div class="layui-input-inline">
                <input type="number" name="parkingNum" placeholder="请输入车位数" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 140px;">预制车牌收费</label>
            <div class="layui-input-block">
                <input type="checkbox" name="isPrefabricationCharge" lay-skin="switch" lay-text="是|否" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 140px;">无入场记录车牌处理</label>
            <div class="layui-input-inline">
                <input type="checkbox" name="unlicensedHandle" lay-skin="switch" lay-text="是|否" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 140px;">中央收费后的免费时间</label>
            <div class="layui-input-inline">
                <input type="number" name="monthlyCarsOverDays" placeholder="请输入免费时间" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 140px;">月租车允许过期的天数</label>
            <div class="layui-input-inline">
                <input type="number" name="centralFeeFreeTime" placeholder="请输入过期天数" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 140px;">是否选定固定停车位</label>
            <div class="layui-input-inline">
                <input type="checkbox" name="fixedParkingSpace" lay-skin="switch" lay-text="是|否" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 140px;">是否需要精确匹配</label>
            <div class="layui-input-inline">
                <input type="checkbox" name="isAccurateMatching" lay-skin="switch" lay-text="是|否" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script>
    layui.use(['form', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;

        debugger;
        $("input[name='parkingName']").val('[[${car_yard_name?.parkingName}]]');
        $("input[name='parkingNum']").val('[[${car_yard_name?.parkingNum}]]');
        $("input[name='centralFeeFreeTime']").val('[[${car_yard_name?.centralFeeFreeTime}]]');
        if ('[[${car_yard_name?.isPrefabricationCharge}]]' == "false") {
            $("input[name='isPrefabricationCharge']").attr("checked", false);
        }
        if ('[[${car_yard_name?.unlicensedHandle}]]' == "false") {
            $("input[name='unlicensedHandle']").attr("checked", false);
        }
        $("input[name='monthlyCarsOverDays']").val('[[${car_yard_name?.monthlyCarsOverDays}]]');
        if ('[[${car_yard_name?.fixedParkingSpace}]]' == "false") {
            $("input[name='fixedParkingSpace']").attr("checked", false);
        }
        if ('[[${car_yard_name?.isAccurateMatching}]]' == "false") {
            $("input[name='isAccurateMatching']").attr("checked", false);
        }
        form.render();

        form.on('submit(add)', function (data) {
            $.ajax({
                url:"/set/name/save",
                type:"POST",
                data:data.field,
                success:function(resp){
                    if (resp.status == 200) {
                        layer.msg("修改成功！", {icon: 6, time: 1000, anim: 4}, function () {
                            window.location.href = "javascript:location.replace(location.href);";
                        });
                    }
                    if (resp.status == 500) {
                        layer.msg(resp.msg, {icon: 2, time: 2000});
                    }

                },
                error:function(){
                    layer.msg("修改失败！请联系管理员", {icon: 2, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });
    })
</script>
</body>
</html>