<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>高峰期管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
    <link rel="stylesheet" href="/lib/nprogress/nprogress.css">
    <style>
        .layui-laydate-content>.layui-laydate-list {
            padding-bottom: 0px;
            overflow: hidden;
        }
        .layui-laydate-content>.layui-laydate-list>li{
            width:50%
        }
    </style>
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>车辆管理</cite></a>
                <a><cite>高峰期管理</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--模糊搜索区域-->
    <div class="layui-row">
        <form id="fastigium_form" class="layui-form layui-col-md12 ok-search">
            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">高峰期设置</div>
                            <div class="layui-card-body">
                                <label class="layui-form-label">通道名称：</label>
                                <div class="layui-input-block">
                                    <select lay-filter="channelName" name="channelName" id="add_channel_name">
                                        <option value="">暂无选择</option>
                                        <option th:each="vo,it : ${accessTypes}" th:value="${vo.channelName}" th:text="${vo.channelName}"></option>
                                    </select>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">开始日期 ：</label>
                                    <div class="layui-input-block">
                                        <input name="startTime" class="layui-input" placeholder="开始日期" autocomplete="off" id="startTime">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">截止日期 ：</label>
                                    <div class="layui-input-block">
                                        <input name="endTime" class="layui-input" placeholder="截止日期" autocomplete="off" id="endTime">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">开关 :</label>
                                    <div class="layui-input-block">
                                        <input id="status" type="checkbox" name="status" lay-skin="switch" value="true" lay-text="启用|停用">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script src="/lib/nprogress/nprogress.js"></script>
<script>
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    }
    var channelName = '[[${fastigium?.channelName}]]';
    var startTime = '[[${fastigium?.startTime}]]';
    var endTime = '[[${fastigium?.endTime}]]';
    var status = '[[${fastigium?.status}]]';



    layui.use(['form', 'jquery', 'laydate'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        if (status==='true') {
            $('#status').prop('checked', true);
        }else{
            $('#status').prop("checked",false);
        }

        if (channelName != "") {
            $("select option[value=" + channelName + "]").attr("selected", 'selected');
            form.render("select");
        }
        laydate.render({
            elem: '#startTime',
            type: "time",
            format:'HH:mm',//显示格式：小时：分钟
            value: startTime
        });

        laydate.render({
            elem: '#endTime',
            type: "time",
            format:'HH:mm',//显示格式：小时：分钟
            value: endTime
        });

        form.on('select(channelName)', function(data){

            $.ajax({
                url:"/gs/get/fastigium/data",
                type:"POST",
                dataType:"json",
                data:{name:data.value},
                success:function(result){
                    laydate.render({
                        elem: '#startTime',
                        type: "time",
                        format:'HH:mm',//显示格式：小时：分钟
                        value: result.startTime
                    });
                    laydate.render({
                        elem: '#endTime',
                        type: "time",
                        format:'HH:mm',//显示格式：小时：分钟
                        value: result.endTime
                    });

                    if(result.status){
                        $('#status').prop('checked', true);
                    }else{
                        $('#status').prop('checked', false);
                    }

                    form.render();                                // 显示出数据
                }
            });
        });


        form.on('submit(add)', function (data) {
            var name = $("#add_channel_name").val();
            var startTime = $("#startTime").val();
            var endTime = $("#endTime").val();
            if(name==""){
                layer.alert('请选择通道名称', {icon: 6});
                return false;
            }
            if (startTime === '') {
                layer.alert('请选择开始时间', {icon: 6});
                return false;
            }
            if (endTime === '') {
                layer.alert('请选择截止时间', {icon: 6});
                return false;
            }
            $.ajax({
                url:"/gs/set/fastigium",
                type:"POST",
                data:data.field,
                success:function(resp){
                    console.log(resp);
                    layer.msg("修改成功！", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                },
                error:function(){
                    layer.msg("修改失败！", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });

        form.render();
    });
</script>
</body>
</html>