<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/okadmin.css">
    <link rel="stylesheet" href="/lib/nprogress/nprogress.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部导航-->
    <div class="layui-header">
        <div class="layui-logo">ok-admin v1.0</div>
        <div class="menu-switch">
            <i class="iconfont icon-caidan"></i>
        </div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layui-this"><a href=""><i class="iconfont icon-jiankongkongzhiguanlijianguan"></i>控制管理<span class="layui-badge-dot"></span></a></li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="iconfont icon-map-setting"></i> 其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="#">邮件管理</a></dd>
                    <dd><a href="#">消息管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/images/head.jpg" class="layui-nav-img">
                    bobi
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人中心<span class="layui-badge-dot"></span></a></dd>
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:void(0)" id="logout">退出</a></li>
        </ul>
    </div>
    <!--左侧导航区域-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-shrink="all" lay-filter="">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i class="layui-icon">&#xe62a;</i> 车场设置
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="user.html" tab-id="1-1"><i class="iconfont icon-dianliyonghuzongshu"></i> 车场信息设置</a></dd>
                        <dd><a href="javascript:;" path="article.html" tab-id="1-2"><i class="iconfont icon-wenzhang2"></i> 出入通道设置</a></dd>
                        <dd><a href="javascript:;" path="permission.html" tab-id="1-4"><i class="iconfont icon-jiaoseshouquan"></i> 出入权限设置</a></dd>
                        <dd><a href="javascript:;" path="process.html" tab-id="1-5"><i class="iconfont icon-liucheng"></i> 设备状态显示</a></dd>
                        <dd><a href="javascript:;" path="image.html" tab-id="1-6"><i class="iconfont icon-tupian"></i> 检查更新状态</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">
                        <i class="layui-icon">&#xe62a;</i> 车辆管理
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="user.html" tab-id="2-1"><i class="iconfont icon-dianliyonghuzongshu"></i> 月租车续费</a></dd>
                        <dd><a href="javascript:;" path="article.html" tab-id="2-2"><i class="iconfont icon-wenzhang2"></i> 新加固定车</a></dd>
                        <dd><a href="javascript:;" path="permission.html" tab-id="2-3"><i class="iconfont icon-jiaoseshouquan"></i> 临时车收费</a></dd>
                        <dd><a href="javascript:;" path="process.html" tab-id="2-4"><i class="iconfont icon-liucheng"></i> 固定车管理</a></dd>
                        <dd><a href="javascript:;" path="/carinfo/carinfo/free" tab-id="2-5"><i class="iconfont icon-tupian"></i> 免费车辆管理</a></dd>
                        <dd><a href="javascript:;" path="/carinfo/carinfo/blacklist" tab-id="2-6"><i class="iconfont icon-tupian"></i> 禁入车辆管理</a></dd>
                        <dd><a href="javascript:;" path="image.html" tab-id="2-7"><i class="iconfont icon-tupian"></i> 黑名单管理</a></dd>
                        <dd><a href="javascript:;" path="/fastigium/list" tab-id="2-8"><i class="iconfont icon-tupian"></i> 高峰期管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">
                        <i class="layui-icon">&#xe62a;</i> 收费设置
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="user.html" tab-id="1-1"><i class="iconfont icon-dianliyonghuzongshu"></i> 当前收费标准</a></dd>
                        <dd><a href="javascript:;" path="article.html" tab-id="1-2"><i class="iconfont icon-wenzhang2"></i> 自定义收费</a></dd>
                        <dd><a href="javascript:;" path="permission.html" tab-id="1-4"><i class="iconfont icon-jiaoseshouquan"></i> 收费金额测试</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">
                        <i class="layui-icon">&#xe62a;</i> 账号管理
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="user.html" tab-id="1-1"><i class="iconfont icon-dianliyonghuzongshu"></i> 管理员创建</a></dd>
                        <dd><a href="javascript:;" path="article.html" tab-id="1-2"><i class="iconfont icon-wenzhang2"></i> 管理员修改</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">
                        <i class="layui-icon">&#xe62a;</i> 报表查询
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="user.html" tab-id="1-1"><i class="iconfont icon-dianliyonghuzongshu"></i> 收费报表</a></dd>
                        <dd><a href="javascript:;" path="article.html" tab-id="1-2"><i class="iconfont icon-wenzhang2"></i> 出入报表</a></dd>
                        <dd><a href="javascript:;" path="permission.html" tab-id="1-4"><i class="iconfont icon-jiaoseshouquan"></i> 报表查询</a></dd>
                        <dd><a href="javascript:;" path="process.html" tab-id="1-5"><i class="iconfont icon-liucheng"></i> 异常开闸</a></dd>
                        <dd><a href="javascript:;" path="image.html" tab-id="1-6"><i class="iconfont icon-tupian"></i> 操作日志</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">
                        <i class="layui-icon">&#xe62a;</i> 数据管理
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="user.html" tab-id="1-1"><i class="iconfont icon-dianliyonghuzongshu"></i> 配置导入</a></dd>
                        <dd><a href="javascript:;" path="article.html" tab-id="1-2"><i class="iconfont icon-wenzhang2"></i> 配置导出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="content-body">
        <div class="layui-tab layui-tab-brief" lay-filter="ok-tab" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this"><i class="layui-icon">&#xe68e;</i> 控制台</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src='/backend/login.html' frameborder="0" scrolling="yes" width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--底部信息-->
    <div class="layui-footer">
    </div>
</div>
<div class="yy"></div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script src="/lib/nprogress/nprogress.js"></script>
<script src="/js/okadmin.js"></script>
</body>
</html>