<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LED信息发布</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
    <link rel="stylesheet" href="/lib/nprogress/nprogress.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>远程控制</cite></a>
                <a><cite>LED信息发布</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--模糊搜索区域-->
    <div class="layui-row">
        <form id="fastigium_form" class="layui-form layui-col-md12 ok-search">
            <div class="layui-row">
                <div class="layui-col-md3">
                    <blockquote class="layui-elem-quote">入口语句</blockquote>
                    <div class="layui-form-item">
                        <label class="layui-form-label">入口语句:
                        </label>
                        <div class="layui-input-block">
                            <input name="tempCarEntrance" th:value="${textDisplay?.tempCarEntrance}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">停车位已满语句:
                        </label>
                        <div class="layui-input-block">
                            <input name="parkingFull" th:value="${textDisplay?.parkingFull}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">临时车不让进场语句:
                        </label>
                        <div class="layui-input-block">
                            <input name="tempCarForbiddenEntrance" th:value="${textDisplay?.tempCarForbiddenEntrance}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">黑名单车辆禁止入场语句:
                        </label>
                        <div class="layui-input-block">
                            <input name="blackListForbidden" th:value="${textDisplay?.blackListForbidden}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>




                    <blockquote class="layui-elem-quote">无入场记录车牌出场异常语句</blockquote>
                    <div class="layui-form-item">
                        <label class="layui-form-label">首段计费提示语:
                        </label>
                        <div class="layui-input-block">
                            <input name="exceptionExit1" th:value="${textDisplay?.exceptionExit1}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系管理员:
                        </label>
                        <div class="layui-input-block">
                            <input name="exceptionExit2" th:value="${textDisplay?.exceptionExit2}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3 layui-col-md-offset3">
                    <blockquote class="layui-elem-quote">出口语句</blockquote>
                    <div class="layui-form-item">
                        <label class="layui-form-label">出口语句:
                        </label>
                        <div class="layui-input-block">
                            <input name="tempCarExit" th:value="${textDisplay?.tempCarExit}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">场内已完成付费的提示语句:
                        </label>
                        <div class="layui-input-block">
                            <input name="alreadyPayment" th:value="${textDisplay?.alreadyPayment}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">缴费超时提示语句:
                        </label>
                        <div class="layui-input-block">
                            <input name="paymentOverTime" th:value="${textDisplay?.paymentOverTime}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>


                    <blockquote class="layui-elem-quote">公共语句</blockquote>
                    <div class="layui-form-item">
                        <label class="layui-form-label">正常期限月租车语句:
                        </label>
                        <div class="layui-input-block">
                            <input name="normalMonlyCar" th:value="${textDisplay?.normalMonlyCar}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">超过期限月租车语句:
                        </label>
                        <div class="layui-input-block">
                            <input name="delayMonlyCar" th:value="${textDisplay?.delayMonlyCar}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">特殊车辆通行语句:
                        </label>
                        <div class="layui-input-block">
                            <input name="specialCar" th:value="${textDisplay?.specialCar}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">VIP车辆语句:
                        </label>
                        <div class="layui-input-block">
                            <input name="VIP" th:value="${textDisplay?.VIP}" class="layui-input" placeholder="" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script src="/lib/nprogress/nprogress.js"></script>
<script>
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    }
    layui.use(['element', 'form', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        form.on('submit(add)', function (data) {
            $.ajax({
                url: "/gs/set/led-info",
                type: "POST",
                data: data.field,
                success: function (resp) {
                    console.log(resp);
                    layer.msg("修改成功！", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                },
                error: function () {
                    layer.msg("修改失败！", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });

        form.render();
    });
</script>
</body>
</html>