<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>月租车缴费</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
    <link rel="stylesheet" href="/lib/nprogress/nprogress.css">
    <style>
    </style>
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>车辆管理</cite></a>
                <a><cite>月租车缴费</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <div class="layui-row">
        <form class="layui-form layui-col-md12 ok-search layui-form-pane">
            <input type="hidden" name="id">
            <div class="layui-form-item">
                <label class="layui-form-label">缴费月数</label>
                <div class="layui-input-block">
                    <select name="month" lay-filter="month" class="select" lay-verify="type">
                        <option value="1">一个月</option>
                        <option value="2">二个月</option>
                        <option value="3">三个月</option>
                        <option value="4">四个月</option>
                        <option value="5">五个月</option>
                        <option value="6">六个月</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <blockquote class="layui-elem-quote">信息核对</blockquote>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">车牌号码：</label>
                <div class="layui-input-block">
                    <label class="layui-form-label"><p><span id="span_carNum">月A123456</span></p></label>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">信息名称：</label>
                <label class="layui-form-label"><p><span id="span_name">欧阳锋</span></p></label>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">缴费金额：</label>
                <label class="layui-form-label"><p><span id="span_fee">0</span><span>元</span></p></label>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">到期时间：</label>
                <label class="layui-form-label"><p><span id="span_endTime">2018-10-2</span></p></label>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">剩余天数：</label>
                <label class="layui-form-label"><p><span id="span_restDay">30</span><span>天</span></p></label>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="add">确定缴费</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script src="/lib/nprogress/nprogress.js"></script>
<script src="/js/extended.js"></script>
<script>
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    }
    layui.use(['form', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;

        var id = '[[${monthCarInfo?.id}]]';
        var name = '[[${monthCarInfo?.name}]]';
        var carNum = '[[${monthCarInfo?.carNum}]]';
        var endTime = parseInt('[[${monthCarInfo?.endTime}]]');
        var monthFee = parseInt('[[${monthFee}]]');

        $("input[name='id']").val(id);
        $("#span_carNum").html(carNum);
        $("#span_name").html(name);
        $("#span_endTime").html(new Date(endTime).toLocaleDateString());
        var restDay = (endTime - new Date().getTime()) / (24 * 60 * 60 * 1000);
        restDay = restDay > 0 ? restDay : 0;
        restDay = Math.floor(restDay);
        $("#span_restDay").html(restDay);
        $("#span_fee").html(monthFee);

        form.on('select(month)', function(data){
            debugger;
            $("#span_fee").html(monthFee*data.value);
        })


        form.on('submit(add)', function (data) {
            $.ajax({
                url: "/monthcarinfo/payment",
                type: "POST",
                data: {
                    id: id,
                    month: data.field.month
                },
                success: function (resp) {
                    console.log(resp);
                    layer.msg("修改成功！", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                },
                error: function () {
                    layer.msg("修改失败！", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });

        form.render();
    });
</script>
</body>
</html>