<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>车辆设置</cite></a>
                <a><cite>创建出入权限</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form name="pass_form" class="layui-form layui-col-md12 ok-form">
        <div class="layui-form-item">
            <label class="layui-form-label">蓝牌：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="blueCar" lay-skin="switch" checked lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">黄牌：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="yellowCar" lay-skin="switch" checked lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">黑牌：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="blackCar" lay-skin="switch" checked lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">绿牌：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="greenCar" lay-skin="switch" checked lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">月租车A：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="monlyCar_A" lay-skin="switch" checked lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">月租车B：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="monlyCar_B" lay-skin="switch" checked lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">月租车C：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="monlyCar_C" lay-skin="switch" checked lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">贵宾车：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="specialCar" lay-skin="switch" checked lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通道名称：</label>
            <div class="layui-input-block">
                <select name="accessTypeId" lay-filter="selectChange">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通道类型</label>
            <div class="layui-input-block">
                <select name="channelTypeId" disabled>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script>
    layui.use(['form', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;

        $.ajax({
            url : "/type/all/channel",
            type : "GET",
            success : function (resp) {
                var data = resp.data;
                if (data != null) {
                    var str = '';
                    for (var i = 0; i < data.length; i++) {
                        str += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("select[name='channelTypeId']").append(str)
                }
                form.render('select');
            }
        });

        $.ajax({
            url : "/type/getAll",
            type : "GET",
            success : function (resp) {
                var data = resp.data;
                if (data != null) {
                    var str = '<option value="0">请选择</option>';
                    for (var i = 0; i < data.length; i++) {
                        str += '<option value="' + data[i].id + ',' + data[i].channelTypeId + '">' + data[i].channelName + '</option>';
                    }
                    $("select[name='accessTypeId']").append(str);
                }
                form.render('select');
            }
        });

        form.on('select(selectChange)', function (data) {
            var split = data.value.split(",");
            if (split.length == 2) {
                $("select[name='channelTypeId']").val(split[1]);
            }
            form.render('select');
        });

        form.on('submit(add)', function (data) {
            if (data.field.accessTypeId == "0") {
                layer.msg("请选择通道名称", {icon: 2, time: 2000});
            } else {
                var edit_form = data.form;
                var json = {};
                for (var i = 0; i < edit_form.length - 4; i++) {
                    if (edit_form[i].name == "accessTypeId") {
                        json[edit_form[i].name] = edit_form[i].value.split(",")[0];
                        continue;
                    }
                    json[edit_form[i].name] = edit_form[i].checked ? 1 : 0;
                }
                $.ajax({
                    url : "/set/permission/add",
                    type : "POST",
                    data : json,
                    success : function(resp){
                        if (resp.status == 200) {
                            layer.msg("添加成功！", {icon: 6, time: 1000, anim: 4}, function () {
                                window.parent.location.reload();
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        }
                        if (resp.status == 500) {
                            layer.msg(resp.msg, {icon: 2, time: 2000});
                        }
                    },
                    error : function(){
                        layer.msg("添加失败！请联系管理员", {icon: 2, time: 1000, anim: 4}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    }
                });
            }
            return false;
        });
    })
</script>
</body>
</html>