<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>车辆设置</cite></a>
                <a><cite>创建出入权限</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form name="pass_form" class="layui-form layui-col-md12 ok-form">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">蓝牌：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="tempCarA" lay-skin="switch" value="true" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">黄牌：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="tempCarB" lay-skin="switch" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">黑牌：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="tempCarC" lay-skin="switch" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">绿牌：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="tempCarD" lay-skin="switch" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">月租车A：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="monthCarA" lay-skin="switch" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">月租车B：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="monthCarB" lay-skin="switch" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">月租车C：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="monthCarC" lay-skin="switch" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">贵宾车：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="vipCar" lay-skin="switch" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通道名称：</label>
            <div class="layui-input-block">
                <input type="text" name="channelName" placeholder="请输入通道名称" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通道类型</label>
            <div class="layui-input-block">
                <select name="channelTypeId">
                    <!--<option value="0">公告</option>-->
                    <!--<option value="1">言情</option>-->
                    <!--<option value="2">都市</option>-->
                    <!--<option value="3">修仙</option>-->
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script>
    var type = '[[${type}]]';
    layui.use(['element', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        $("input[name='id']").val('[[${pass_car_status.id}]]');
        $("input[name='channelName']").val('[[${pass_car_status.channelName}]]');
        if ('[[${pass_car_status.tempCarA}]]' == '1') {
            $("input[name='tempCarA']").attr('checked', 'checked');
        }
        if ('[[${pass_car_status.tempCarB}]]' == 1) {
            $("input[name='tempCarB']").attr('checked', 'checked');
        }
        if ('[[${pass_car_status.tempCarC}]]' == 1) {
            $("input[name='tempCarC']").attr('checked', 'checked');
        }
        if ('[[${pass_car_status.tempCarD}]]' == 1) {
            $("input[name='tempCarD']").attr('checked', 'checked');
        }
        if ('[[${pass_car_status.monthCarA}]]' == 1) {
            $("input[name='monthCarA']").attr('checked', 'checked');
        }
        if ('[[${pass_car_status.monthCarB}]]' == 1) {
            $("input[name='monthCarB']").attr('checked', 'checked');
        }
        if ('[[${pass_car_status.monthCarC}]]' == 1) {
            $("input[name='monthCarC']").attr('checked', 'checked');
        }
        if ('[[${pass_car_status.vipCar}]]' == 1) {
            $("input[name='vipCar']").attr('checked', 'checked');
        }

        $.ajax({
            url : "/type/all/channel",
            type : "GET",
            success : function (resp) {
                var data = resp.data;
                if (data != null) {
                    var str = '';
                    for (var i = 0; i < data.length; i++) {
                        str += '<option value="' + data[i].id + '">' + data[i].name + '</option>>';
                    }
                    $("select[name='channelTypeId']").append(str);
                    $("select[name='channelTypeId']").val('[[${pass_car_status.channelTypeId}]]');
                }
                form.render('select');
            }
        });

        form.on('submit(add)', function (data) {
            var edit_form = data.form;
            var json = {};
            for (var i = 0; i < edit_form.length - 1; i++) {
                if (edit_form[i].name == "channelTypeId" || edit_form[i].name == "channelName" || edit_form[i].name == "id") {
                    json[edit_form[i].name] = edit_form[i].value;
                    continue;
                }
                json[edit_form[i].name] = edit_form[i].checked ? 1 : 0;
            }
            $.ajax({
                url : "/set/permission/edit",
                type : "POST",
                data : json,
                success : function(resp){
                    if (resp.status == 200) {
                        layer.msg("编辑成功！", {icon: 6, time: 1000, anim: 4}, function () {
                            window.parent.location.reload();
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    }
                    if (resp.status == 500) {
                        layer.msg(resp.msg, {icon: 2, time: 2000});
                    }
                },
                error : function(){
                    layer.msg("添加失败！请联系管理员", {icon: 2, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });
        form.render();
    })
</script>
</body>
</html>