<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>车辆设置</cite></a>
                <a><cite>创建出入权限</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form name="pass_form" class="layui-form layui-col-md12 ok-form">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">临时车_1：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="entrance_tempCar_1" lay-skin="switch" value="true" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">月卡车_1：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="entrance_monlyCar_1" lay-skin="switch" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">特种车_1：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="entrance_specialCar_1" lay-skin="switch" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">临时车_2：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="entrance_tempCar_2" lay-skin="switch" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">月卡车_2：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="entrance_monlyCar_2" lay-skin="switch" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">特种车_2：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="entrance_specialCar_2" lay-skin="switch" lay-text="允许|禁止">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通道名称：</label>
            <div class="layui-input-block">
                <select name="accessTypeId" lay-filter="selectChange">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通道类型</label>
            <div class="layui-input-block">
                <select name="channelTypeId" disabled>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script>
    var type = '[[${type}]]';
    layui.use(['form', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;

        $("input[name='id']").val('[[${pass_car_status.id}]]');
        if ('[[${pass_car_status.entrance_tempCar_1}]]' == '1') {
            $("input[name='entrance_tempCar_1']").attr('checked', 'checked');
        }
        if ('[[${pass_car_status.entrance_monlyCar_1}]]' == 1) {
            $("input[name='entrance_monlyCar_1']").attr('checked', 'checked');
        }
        if ('[[${pass_car_status.entrance_specialCar_1}]]' == 1) {
            $("input[name='entrance_specialCar_1']").attr('checked', 'checked');
        }
        if ('[[${pass_car_status.entrance_tempCar_2}]]' == 1) {
            $("input[name='entrance_tempCar_2']").attr('checked', 'checked');
        }
        if ('[[${pass_car_status.entrance_monlyCar_2}]]' == 1) {
            $("input[name='entrance_monlyCar_2']").attr('checked', 'checked');
        }
        if ('[[${pass_car_status.entrance_specialCar_2}]]' == 1) {
            $("input[name='entrance_specialCar_2']").attr('checked', 'checked');
        }

        $.ajax({
            url : "/type/all/channel",
            type : "GET",
            success : function (resp) {
                var data = resp.data;
                if (data != null) {
                    var str = '';
                    for (var i = 0; i < data.length; i++) {
                        str += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("select[name='channelTypeId']").append(str);
                    $("select[name='channelTypeId']").val('[[${pass_car_status.channelTypeId}]]');
                }
                form.render('select');
            }
        });

        $.ajax({
            url : "/type/getAll",
            type : "GET",
            success : function (resp) {
                var data = resp.data;
                if (data != null) {
                    var str = '<option value="0">请选择</option>';
                    for (var i = 0; i < data.length; i++) {
                        str += '<option value="' + data[i].id + ',' + data[i].channelTypeId + '">' + data[i].channelName + '</option>';
                    }
                    $("select[name='accessTypeId']").append(str);
                    $("select[name='accessTypeId']").val('[[${pass_car_status.accessTypeId}]]' + ',' + '[[${pass_car_status.channelTypeId}]]');
                }
                form.render('select');
            }
        });

        form.on('select(selectChange)', function (data) {
            var split = data.value.split(",");
            if (split.length == 2) {
                $("select[name='channelTypeId']").val(split[1]);
            }
            form.render('select');
        });

        form.on('submit(add)', function (data) {
            if (data.field.accessTypeId == "0") {
                layer.msg("请选择通道名称", {icon: 2, time: 2000});
                return;
            }
            var edit_form = data.form;
            var json = {};
            for (var i = 0; i < edit_form.length - 4; i++) {
                if (edit_form[i].name == "accessTypeId") {
                    json[edit_form[i].name] = edit_form[i].value.split(",")[1];
                    continue;
                }
                if (edit_form[i].name == "id") {
                    json[edit_form[i].name] = edit_form[i].value;
                    continue;
                }
                json[edit_form[i].name] = edit_form[i].checked ? 1 : 0;
            }
            $.ajax({
                url : "/set/permission/edit",
                type : "POST",
                data : json,
                success : function(resp){
                    if (resp.status == 200) {
                        layer.msg("编辑成功！", {icon: 6, time: 1000, anim: 4}, function () {
                            window.parent.location.reload();
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    }
                    if (resp.status == 500) {
                        layer.msg(resp.msg, {icon: 2, time: 2000});
                    }
                },
                error : function(){
                    layer.msg("添加失败！请联系管理员", {icon: 2, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });
        form.render();
    })
</script>
</body>
</html>