<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>人工呼叫号码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">

    <style>
        .layui-laydate-content>.layui-laydate-list {
            padding-bottom: 0px;
            overflow: hidden;
        }
        .layui-laydate-content>.layui-laydate-list>li{
            width:50%
        }
    </style>
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>远程控制</cite></a>
                <a><cite>人工呼叫号码</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <div class="layui-row">
        <form id="fastigium_form" class="layui-form layui-col-md12 ok-search">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">客服#1 :</label>
                    <div class="layui-input-inline">
                        <input name="phoneNumber[0]" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input name="timeStart[0]" class="layui-input" placeholder="开始日期" autocomplete="off" id="startTime0">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input name="timeEnd[0]" class="layui-input" placeholder="截止日期" autocomplete="off" id="endTime0">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">客服#2 :</label>
                    <div class="layui-input-inline">
                        <input name="phoneNumber[1]" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input name="timeStart[1]" class="layui-input" placeholder="开始日期" autocomplete="off" id="startTime1">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input name="timeEnd[1]" class="layui-input" placeholder="截止日期" autocomplete="off" id="endTime1">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">客服#3 :</label>
                    <div class="layui-input-inline">
                        <input name="phoneNumber[2]" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input name="timeStart[2]" class="layui-input" placeholder="开始日期" autocomplete="off" id="startTime2">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input name="timeEnd[2]" class="layui-input" placeholder="截止日期" autocomplete="off" id="endTime2">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">客服#4 :</label>
                    <div class="layui-input-inline">
                        <input name="phoneNumber[3]" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input name="timeStart[3]" class="layui-input" placeholder="开始日期" autocomplete="off" id="startTime3">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input name="timeEnd[3]" class="layui-input" placeholder="截止日期" autocomplete="off" id="endTime3">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">客服#5 :</label>
                    <div class="layui-input-inline">
                        <input name="phoneNumber[4]" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input name="timeStart[4]" class="layui-input" placeholder="开始日期" autocomplete="off" id="startTime4">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input name="timeEnd[4]" class="layui-input" placeholder="截止日期" autocomplete="off" id="endTime4">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script src="/lib/nprogress/nprogress.js"></script>
<script>
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };
    layui.use(['form', 'laydate', 'element', 'jquery', 'layer'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#startTime0',
            type: "time",
            format:'HH:mm'//显示格式：小时：分钟
        });
        laydate.render({
            elem: '#endTime0',
            type: "time",
            format:'HH:mm'//显示格式：小时：分钟
        });

        laydate.render({
            elem: '#startTime1',
            type: "time",
            format:'HH:mm'//显示格式：小时：分钟
        });
        laydate.render({
            elem: '#endTime1',
            type: "time",
            format:'HH:mm'//显示格式：小时：分钟
        });

        laydate.render({
            elem: '#startTime2',
            type: "time",
            format:'HH:mm'//显示格式：小时：分钟
        });
        laydate.render({
            elem: '#endTime2',
            type: "time",
            format:'HH:mm'//显示格式：小时：分钟
        });

        laydate.render({
            elem: '#startTime3',
            type: "time",
            format:'HH:mm'//显示格式：小时：分钟
        });
        laydate.render({
            elem: '#endTime3',
            type: "time",
            format:'HH:mm'//显示格式：小时：分钟
        });

        laydate.render({
            elem: '#startTime4',
            type: "time",
            format:'HH:mm'//显示格式：小时：分钟
        });
        laydate.render({
            elem: '#endTime4',
            type: "time",
            format:'HH:mm'//显示格式：小时：分钟
        });

        form.on('submit(add)', function (data) {
            $.ajax({
                url:"/gs/set/phone-num",
                type:"POST",
                data: data.field,
                success:function(resp){
                    layer.msg("修改成功！", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                },
                error:function(){
                    layer.msg("修改失败！", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });

        $.ajax({
            url:"/gs/get/phone-num/data",
            type:"POST",
            success:function(resp){
                if (resp !== "" && resp.phoneNumberList.length > 0) {
                    resp.phoneNumberList.forEach(function(item, index){
                        $("input[name='phoneNumber[" + index + "]']").val(item.phoneNumber);
                        laydate.render({
                            elem: "#startTime" + index,
                            type: "time",
                            format:'HH:mm',//显示格式：小时：分钟
                            value: item.timeStart
                        });

                        laydate.render({
                            elem: "#endTime" + index,
                            type: "time",
                            format:'HH:mm',//显示格式：小时：分钟
                            value: item.timeEnd
                        });
                    })
                }
                form.render();
            }
        });

        form.render();
    })
</script>
</body>
</html>