<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>人工搜索车牌</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
    <link rel="stylesheet" href="/lib/nprogress/nprogress.css">
    <style>
        .main-body img {
            width: 100%;
            height: auto;
        }
        .grid {
            padding: 10px;
            line-height: 30px;
            text-align: center;
            background-color: #79C48C;
            color: #fff;
        }
        .center{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>车辆管理</cite></a>
                <a><cite>人工搜索车牌</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--模糊搜索区域-->
    <div class="layui-row">
        <form class="layui-form layui-col-md12 ok-search">
            <div class="layui-form-item">
                <select name="carType">
                    <option value="">暂无选择</option>
                    <option th:each="vo,it : ${fixedCars}" th:value="${vo.carType}" th:text="${vo.customName}"></option>
                    <option value="TEMP_CAR_A">蓝牌</option>
                    <option value="TEMP_CAR_B">黄牌</option>
                    <option value="TEMP_CAR_C">黑牌</option>
                    <option value="TEMP_CAR_D">绿牌</option>
                </select>
                <input name="startTime" class="layui-input" placeholder="入场时间" autocomplete="off" id="startTime">
                <input name="endTime" class="layui-input" placeholder="截止日期" autocomplete="off" id="endTime">
            </div>
            <div class="layui-form-item">
                <input name="carNum" class="layui-input" placeholder="车牌" autocomplete="off">
                <button class="layui-btn" lay-submit="" lay-filter="search">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </form>
    </div>
    <!--<div class="layui-row">-->
        <!--<form class="layui-form layui-col-md12 ok-search">-->
            <!--<div class="layui-form-item">-->
                <!--<input name="query" class="layui-input" placeholder="车牌" autocomplete="off">-->
                <!--<button class="layui-btn" lay-submit="" lay-filter="search">-->
                    <!--<i class="layui-icon layui-icon-search"></i>-->
                <!--</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->

    <div class="layui-row main-body layui-col-space30">
        <div class="layui-col-md3" th:each="vo,it : ${carNumVos}" >
            <div class="layui-row" th:each="vo1,it1 : ${vo?.carNumExtVos}">
                <div class="layui-col-md12">
                    <img th:src="'/file/'+${vo1?.uuid}+'.jpg'">
                </div>
                <br>
            </div>
            <br>
            <div class="layui-row">
                <div class="layui-col-md6 grid" th:text="${vo.carNum}">

                </div>
                <div class="layui-col-md6 grid time_div" th:text="${vo.carNumExtVos?.get(0)?.time}">

                </div>
            </div>
            <br>
            <div class="layui-row">
                <div class="layui-col-md6 layui-col-md-offset3 center">
                    <button class="layui-btn layui-btn-radius payment_btn" th:attr="data-id=${vo?.id}">去缴费</button>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-md3 layui-col-md-offset3 center">
            <button id="prev_btn" class="layui-btn layui-btn-radius layui-btn-normal">上一页</button>
        </div>
        <div class="layui-col-md3 center">
            <button id="next_btn" class="layui-btn layui-btn-radius layui-btn-normal">下一页</button>
        </div>
    </div>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script src="/lib/nprogress/nprogress.js"></script>
<script>
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    }
    layui.use(['table', 'form', 'jquery', 'laydate'], function () {
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        var page = '[[${queryVo?.page}]]';
        var carNum = '[[${queryVo?.carNum}]]';
        var carType = '[[${queryVo?.carType}]]';
        var startTime = '[[${queryVo?.startTime}]]';
        var endTime = '[[${queryVo?.endTime}]]';
        var form_data = new Map();
        if (page != '') {
            form_data.set("page", page);
        }
        if (carNum != '') {
            form_data.set("carNum", carNum);
        }
        if (carType != '') {
            form_data.set("carType", carType);
        }
        if (startTime != '') {
            form_data.set("startTime", startTime);
        }
        if (endTime != '') {
            form_data.set("endTime", endTime);
        }
        if (page == "") {
            page = 1;
        }
        if (startTime === '') {
            startTime = new Date().getTime();
        }
        if (endTime === '') {
            endTime = new Date().getTime();
        }
        if (carType != "") {
            $("select option[value=" + carType + "]").attr("selected", 'selected');
        }
        $("input[name='carNum']").val(carNum);
        if (page <= 1) {
            $("#prev_btn").addClass("layui-btn-disabled");
        }

        $("#prev_btn").click(function(){
            form_data.set("page", parseInt(form_data.get("page")) - 1);
            var param = "?";
            form_data.forEach(function(value, key){
                param = param + key + "=" + value + "&";
            })
            window.location.href = "/carnum/tempcarinfo.html" + param;
        });
        $("#next_btn").click(function(){
            form_data.set("page", parseInt(form_data.get("page")) + 1);
            var param = "?";
            form_data.forEach(function(value, key){
                param = param + key + "=" + value + "&";
            })
            window.location.href = "/carnum/tempcarinfo.html" + param;
        });

        laydate.render({
            elem: '#startTime',
            type: "datetime",
            value: new Date(parseInt(startTime))
        });

        laydate.render({
            elem: '#endTime',
            type: "datetime",
            value: new Date(parseInt(endTime))
        });

        form.on('submit(search)', function (data) {
            if (data.field.startTime != "" && data.field.endTime != "") {
                data.field.startTime = new Date(data.field.startTime).getTime();
                data.field.endTime = new Date(data.field.endTime).getTime();
            }
            var map = new Map();
            map.set("carNum",data.field.carNum);
            map.set("carType",data.field.carType);
            map.set("startTime",data.field.startTime);
            map.set("endTime",data.field.endTime);
            var param = "?";
            map.forEach(function(value, key){
                param = param + key + "=" + value + "&";
            })
            window.location.href = "/carnum/tempcarinfo.html" + param;
            return false;
        });

        $(".payment_btn").click(function () {
            var t_id = $(this).attr("data-id");
            layer.open({
                title: '临时收费界面',
                type: 2,
                shade: false,
                maxmin: true,
                shade: 0.5,
                area: ['90%', '90%'],
                content: '/carnum/tempcarinfo-payment.html?id=' + t_id,
                zIndex: layer.zIndex,
                end: function () {
                    $(".layui-laypage-btn")[0].click();
                }
            });
        });
        $(".time_div").each(function () {
            var time = $(this).html();
            if (time !== "" && time != null) {
                $(this).html(new Date(parseInt(time)).toLocaleDateString());
            }
        });
        form.render();
    })

</script>
</body>
</html>