<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>临时收费界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
    <link rel="stylesheet" href="/lib/nprogress/nprogress.css">
    <style>
        .main-body img {
            width: 100%;
            height: auto;
        }
        .center{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>车辆管理</cite></a>
                <a><cite>临时收费界面</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>

    <div class="layui-row main-body layui-col-space30">
        <div class="layui-col-md3 layui-col-md-offset3" >
            <div class="layui-row">
                <!--第一张图-->
                <div class="layui-col-md12">
                    <img th:src="'/file/'+${img0}+'.jpg'">
                </div>
            </div>
            <br>
            <div class="layui-row">
                <!--第二张图-->
                <div class="layui-col-md12">
                    <img th:src="'/file/'+${img1}+'.jpg'">
                </div>
            </div>
        </div>
        <!--<div class="layui-col-md3">-->
            <!--<div class="layui-row">-->
                <!--&lt;!&ndash;第三张图&ndash;&gt;-->
                <!--<div class="layui-col-md12">-->
                    <!--<img th:src="'/file/'+${img2}+'.jpg'">-->
                <!--</div>-->
            <!--</div>-->
            <!--<br>-->
            <!--<div class="layui-row">-->
                <!--&lt;!&ndash;第四张图&ndash;&gt;-->
                <!--<div class="layui-col-md12">-->
                    <!--<img th:src="'/file/'+${img3}+'.jpg'">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <!--表格区域-->
    <div class="layui-row">
        <div class="layui-col-md6 layui-col-md-offset4">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item" pane>
                    <div class="layui-inline">
                        <label class="layui-form-label">车牌</label>
                        <div class="layui-input-inline">
                            <input th:value="${vo?.carNum}" type="text" name="carNum" class="layui-input" disabled>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">入场时间</label>
                        <div class="layui-input-inline">
                            <input th:value="${enterTime}" type="text" name="enterTime" class="layui-input" disabled>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <div class="layui-inline">
                        <label class="layui-form-label">停车时长</label>
                        <div class="layui-input-inline">
                            <input th:value="${stopTime}" type="text" name="stopTime" class="layui-input" disabled>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">车辆类型</label>
                        <div class="layui-input-inline">
                            <input type="text" name="carType" class="layui-input" disabled>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <div class="layui-inline">
                        <label class="layui-form-label">收费金额</label>
                        <div class="layui-input-inline">
                            <input th:value="${fee}" type="text" name="fee" class="layui-input" disabled>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">当前收费员</label>
                        <div class="layui-input-inline">
                            <input th:value="${userName}" type="text" name="userName" class="layui-input" disabled>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline">
                            <button class="layui-btn" lay-submit lay-filter="add">收费放行</button>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline">
                            <button type="reset" id="close_btn" class="layui-btn layui-btn-primary">关闭</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script src="/lib/nprogress/nprogress.js"></script>
<script>
    NProgress.start();
    var fixedcarData = new Map();
    window.onload = function () {
        NProgress.done();
    }
    layui.use(['form', 'jquery'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var enterTime = parseInt("[[${enterTime}]]");
        var leaveTime = parseInt("[[${leaveTime}]]");
        var carType = "[[${vo?.carType}]]";
        var id = "[[${vo?.id}]]";
        if (carType == '') {
            carType = "TEMP_CAR_A";
        }
        $.ajax({
            url: "/gs/get/fixedcar/data",
            type: "GET",
            success: function (resp) {
                resp.data.forEach(function(e){
                    fixedcarData.set(e.carType,e.customName);
                });
                var carTypeMap = new Map();
                carTypeMap.set("TEMP_CAR_A", "蓝牌");
                carTypeMap.set("TEMP_CAR_B", "黄牌");
                carTypeMap.set("TEMP_CAR_C", "黑牌");
                carTypeMap.set("TEMP_CAR_D", "绿牌");
                carTypeMap.set("MONTH_CAR_A", fixedcarData.get("MONTH_CAR_A"));
                carTypeMap.set("MONTH_CAR_B", fixedcarData.get("MONTH_CAR_B"));
                carTypeMap.set("MONTH_CAR_C", fixedcarData.get("MONTH_CAR_C"));
                carTypeMap.set("VIP_CAR", fixedcarData.get("VIP_CAR"));
                $("input[name='carType']").val(carTypeMap.get(carType));
            }
        });

        if (enterTime != 0) {
            $("input[name='enterTime']").val(new Date(parseInt(enterTime)).toLocaleString());
        }
        if (leaveTime != 0) {
            $("input[name='leaveTime']").val(new Date(parseInt(leaveTime)).toLocaleString());
        }

        form.on('submit(add)', function (data) {
            $.ajax({
                url:"/carnum/tempcarinfo-payment/confirm",
                type:"POST",
                data:{
                    id: id
                },
                success:function(resp){
                    layer.msg(resp, {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                },
                error:function(){
                    layer.msg("修改失败！", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });
        $("#close_btn").click(function(){
            layer.msg("关闭成功！", {icon: 6, time: 1000, anim: 4}, function () {
                parent.layer.close(parent.layer.getFrameIndex(window.name));
            });
            return false;
        });
    })

</script>
</body>
</html>