<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta charset="UTF-8"/>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <title>订单详情</title>
</head>
<body>

<script th:inline="javascript">
    alert("订单还未生成，请稍后再试");
    setTimeout(function(){
        WeixinJSBridge.call('closeWindow');
    },500);
</script>
</body>
</html>
